body {
    background-image: url('assets/image.png');
    background-size: cover;
    font-family: 'Garagmond' !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff !important;
    display: flex;
    flex-direction: column; /* Change this from row to column */
    align-items: center; /* Centers items horizontally */
    width: 100%;
    height: 100vh;
}

#parentContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#quiltFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    margin-top: 100px; /* Adjust as needed */
}

#quiltBoxesContainer {
    display: flex;
    flex-direction: column; /* Stack the boxes vertically */
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    max-width: 100%;
    height: 500px;
    overflow: auto;
    margin-top: 100px;
    border: 2px solid #000;
}

#quiltBox {
    width: 100%; /* Make each box take up the full width of the container */
    height: 100px; /* Set a fixed height for each box */
}

#unitsContainer {
    margin-bottom: 20px; /* Adjust as needed */
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin-bottom: 20px;
}

#saveQuiltButton{
    display: none;
    margin-left: 10px;
}

#createQuiltButton {
    display: none;
    margin-left: 10px;
}

#loadQuiltButton {
    margin-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0;
    }
    #quilt-container img {
        page-break-after: always !important;
    }
    button {
        display: none !important;
    }
    #kofi-button {
        display: none;
    }
}

#jsonFileInput {
    margin-left: 10px;
}

#headerContainer{
    display: flex;
    flex-direction: column;
}

#kofi-button {
    margin-bottom: 50px;
}
.quilt {
    display: inline-block;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-error {
    color: red;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 10px auto; /* Centers the h1 element */
    text-align: center; /* Aligns the text to the center */
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff9900;
}
