body {
    background-color: #400af5;
    font-family: Arial, sans-serif;
    color: #0c13e6;
    display: flex;
    flex-direction: column; /* Change this from row to column */
    align-items: center; /* Centers items horizontally */
    width: 100%;
    height: 100vh;
}

#parentContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#quiltFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 100px; /* Adjust as needed */
}

#quiltBoxesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 100px; /* Adjust as needed */
}

@media (max-width: 600px) {
    body {
        flex-direction: row;
    }

    #quiltFormContainer, #quiltBoxesContainer {
        flex: 0 0 100%;
        margin: 10px 0;
    }
}

#unitsContainer {
    margin-bottom: 20px; /* Adjust as needed */
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin-bottom: 20px;
}

#saveQuiltButton{
    display: none;
    margin-left: 10px;
}

#createQuiltButton {
    display: none;
    margin-left: 10px;
}

#jsonFileInput {
    margin-left: 10px;
}

#headerContainer{
    display: flex;
    flex-direction: column;
}
.quilt {
    display: inline-block;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-error {
    color: red;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 10px auto; /* Centers the h1 element */
    text-align: center; /* Aligns the text to the center */
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff9900;
}
